::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root {
  /* Colors */
  --white: white;
  --black: black;
  --grey: #312e2e;
  --first-color: #901c1c;
  --scd-color: #fafafa;
  --tertiary-color: #d3573c;

  /* Font-size */
  --fs-12: 0.75rem;
  --fs-14: 0.875rem;
  --fs-16: 1rem;
  --fs-18: 1.125rem;
  --fs-20: 1.25rem;
  --fs-22: 1.375rem;
  --fs-24: 1.5rem;
  --fs-26: 1.625rem;
  --fs-30: 1.875rem;
  --fs-36: 2.25rem;
  --fs-40: 2.5rem;
}

body {
  font-family: "DM Sans", sans-serif;
  margin: 0;
}

/* HEADER */
header {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  height: 90px;
  margin: 20px;
}
header > * {
  display: flex;
  align-items: center;
}
h1 {
  justify-content: right;
  color: var(--first-color);
  font-size: var(--fs-36);
  margin-right: 20px;
}
.container_logo {
  justify-content: left;
  margin-left: 20px;
  .logo {
    height: 50px;
  }
}

/* SECTION PHOTOGRAPH */

.photographers_section {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 60px;
  margin: 100px 20px 100px 20px;
}

.photographers_section > article {
  display: flex;
  align-items: center;
  justify-items: center;
  flex-direction: column;
}
article a {
  text-decoration: none;
}
.card_link {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}

.photographers_section .card_link h2 {
  color: var(--tertiary-color);
  font-size: var(--fs-36);
  text-align: center;
  margin: 10px 0 0 0;
}

.photographers_section .card_link img {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  object-position: center;
  object-fit: cover;
  box-shadow: 2px 2px 5px var(--grey);
}

.photographers_section .card_link:hover {
  transform: scale(1.05);
  h2 {
    color: var(--first-color);
  }
}

.photographers_section article h3 {
  color: var(--first-color);
  font-size: var(--fs-20);
  margin: 0;
  padding: 3px;
}
.photographers_section article p {
  color: var(--black);
  font-size: var(--fs-16);
  margin: 0;
  padding: 2px;
  text-align: center;
}
.photographers_section article span {
  color: #757575;
  font-size: var(--fs-14);
  padding-top: 2px;
}

@media (max-width: 780px) {
  header {
    height: 50px;
  }

  h1 {
    font-size: var(--fs-26);
    margin-right: 0;
    justify-items: flex-start;
    text-align: right;
  }
  .container_logo {
    margin-left: 0;
    .logo {
      height: 40px;
    }
  }
  .photographers_section {
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
    margin: 80px 20px 80px 20px;
  }
  .photographers_section .card_link h2 {
    font-size: var(--fs-30);
  }

  .photographers_section .card_link img {
    height: 180px;
    width: 180px;
  }
  .photographers_section article p {
    font-size: var(--fs-14);
  }
}
@media (max-width: 450px) {
  h1 {
    font-size: var(--fs-18);
  }
  .container_logo {
    margin-left: 10px;
    .logo {
      height: 30px;
    }
  }
  .photographers_section {
    grid-template-columns: 1fr;
    gap: 40px;
    margin: 70px 20px 70px 20px;
  }
  .photographers_section .card_link img {
    height: 210px;
    width: 210px;
  }
}
